body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top, #02cafc, #000000);
}

#calculadora {
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    max-width: 500px;
    overflow: hidden;
}

#pantalla {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background: linear-gradient(to bottom, #02cafc, #000000);
    color: rgb(255, 255, 255);
}

#botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 5px;
    color: rgb(67, 66, 66);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-image: url(https://www.fiftysounds.com/images/graphics/white-low-poly-background-338.jpg);
}

button:active {
    background-image: url(favicon.ico);
}

.operator {
    background: linear-gradient(to right, #02cafc, #ffffff);
}

.operator:hover {
    background-color: rgb(35, 114, 67);
}

.igual {
    background: linear-gradient(to right, #02cafc, #ffffff);
}

.numero {
    background: linear-gradient(to right, #d107f5, #ffffff);
}

.punto {
    background: linear-gradient(to right, #02cafc, #ffffff);
}