body {
    background-color: rgb(189, 228, 243);
}
.paginas {
    margin-right: 150px;
    color: black;
    font-size: larger;
}
img {
    display: block;
    margin: 0 auto;
}
.volver {
    font-size:x-large;
}